.catalog {
  background-image: url('./img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.catalog-title {
  padding-left: 42px;
  padding-top: 42px;
  padding-bottom: 0px;
  font-size: 18px;
  font-family: 'Lovelo-Black', Helvetica;
  font-weight: bold;
  color: black;
}

.catalog-container {
  overflow-x: auto;
  display: flex;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 60px;
}

.catalog-cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.card {
  width: 160px;
  height: 237px;
  padding: 5px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  align-items: center;
}

.card-image {
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-name {
  margin: 2px;
  font-size: 10px;
  font-family: 'Lovelo-Black', Helvetica;
  color: black;
}

.card-price {
  font-size: 10px;
  font-family: 'Lovelo-Black', Helvetica;
  color: black;
}

@media (min-width: 767px) {
  .catalog {
    width: 1440px;
    height: 1350px;
    margin: 0px auto;
    padding-bottom: 42px;
  }

  .catalog-title {
    font-size: 50px;
    margin-bottom: 35px;
    margin-left: 35px;
  }

  .catalog-cards {
    gap: 35px;
  }

  .card {
    width: 463px;
    height: 687px;
  }

  .card-name {
    font-size: 20px;
  }

  .card-price {
    font-size: 20px;
  }
}

p {
    font-family: Lovelo-Black,Helvetica;
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  color: rgb(0, 0, 0);

}

