.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px;
  gap: 25px;
}

.img-container {
  width: 255px;
  height: 242px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.nosotros-text-container {
  font-family: 'Lovelo-Black', Helvetica;
}

h3 {
  color: #1b928e;
  font-size: 2rem; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-size: 0.75rem;
}

@media (min-width: 767px) {
  .bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .top-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .img-container {
    width: 556px;
    height: 382px;
  }

  .nosotros-text-container {
    padding: 20px;
    text-align: justify;
    max-width: 556px;
    max-height: 382px;
  }

  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 1rem;
  }
}
