.video-player {
  width: 1440px;
  height: 879px;
  object-fit: cover;
  padding: 0px;
  margin: 0 auto;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

@media (max-width: 767px) {
  .video-player {
    padding-top: 80px;
    width: 100%;
    height: 480px;
  }
}
