.custom-nav {
  height: 151px;
  padding: 24px 36px;
  width: 100%;
  z-index: 3;
}

#navbarSupportedContent {
  margin-left: 73px;
}

.custom-bg {
  background-color: #1b928e;
}

.custom-link {
  color: #fdfdfd;
  font-family: 'Lovelo-black', 'Helvetica';
  font-size: 3vh;
  font-weight: 900;
  line-height: 38px;
  margin-left: 80px;
  text-decoration: none;
}

.logo-mobile {
  display: none;
}

.menu-icon {
  margin-right: -24px;
}

.img-menu-icon {
  width: 400%;
  height: 400%;
}

@media (max-width: 767px) {
  .navbar-collapse {
    top: 81px;
    position: fixed;
    right: 0;
    height: 100%;
    width: 50%;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    background-color: rgba(27, 146, 142, 0.7);
  }

  .custom-nav {
    width: 100%;
    height: 82px;
    position: fixed;
  }

  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: block;
    background-blend-mode: luminosity;
    height: 73px;
    left: 15px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 73px;
  }

  .navbar-collapse.show {
    transform: translateX(0);
  }
.navbar-brand {
  width:25vh;
}
  .custom-link {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 20px;
  }
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
